

.button,
button {
  display: inline-block;
  text-decoration: none;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 300px;
  font-weight: 700;
  line-height: 20px;
  padding: 14px 12px 12px 12px;
  letter-spacing: 0.1px;
  white-space: wrap;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  
}     
button:hover,
.button:focus {
  color: #212121;
  border-color: #888;
  outline: #7AB8FF solid 3px
}
.button.button-primary {
  color: #fff;
  filter: brightness(90%);
}
.button.button-primary:hover,
.button.button-primary:focus {
  color: #fff;
  filter: brightness(90%);
}


.icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}


.button.button-default {
  color: #ffffff;
  background-color: #2457F5;
}
.button.button-default:hover,
.button.button-default:focus {
  filter: brightness(90%);
}


.button.button-appstore {
  color: #FFFFFF;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}
.button.button-appstore:hover,
.button.button-appstore:focus {
  filter: brightness(90%);
}


/* Calendly */
.button.button-calendly {
  color: #FFFFFF;
  background-color: #006BFF;
}
.button.button-calendly:hover,
.button.button-calendly:focus {
  filter: brightness(90%);
}

/* Discord */
.button.button-discord {
  color: #ffffff;
  background-color: #5865f2;
}
.button.button-discord:hover,
.button.button-discord:focus {
  filter: brightness(90%);
}

/* Facebook */
.button.button-faceb {
  color: #ffffff;
  background-color: #1877f2;
}
.button.button-faceb:hover,
.button.button-faceb:focus {
  filter: brightness(90%);
}

/* Facebook Messenger */
.button.button-messenger {
  color: #ffffff;
  background-image: linear-gradient(
    25deg,
    #0099ff,
    #5f5dff,
    #a033ff,
    #c740cc,
    #ff5280,
    #ff7061
  );
}
.button.button-messenger:hover,
.button.button-messenger:focus {
  filter: brightness(90%);
}

/* Figma */
.button.button-figma {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}
.button.button-figma:hover,
.button.button-figma:focus {
  filter: brightness(90%);
}

/* Fiverr */
.button.button-fiverr {
  color: #ffffff;
  background-color: #1DBF73;
}
.button.button-fiverr:hover,
.button.button-fiverr:focus {
  filter: brightness(90%);
}


/* GitHub */
.button.button-github {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}
.button.button-github:hover,
.button.button-github:focus {
  filter: brightness(90%);
}

/* GitLab */
.button.button-gitlab {
  color: #ffffff;
  background-color: #6151b2;
}
.button.button-gitlab:hover,
.button.button-gitlab:focus {
  filter: brightness(90%);
}

/* Google Play Store */
.button.button-playstore {
  color: #FFFFFF;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}
.button.button-playstore:hover,
.button.button-playstore:focus {
  filter: brightness(90%);
}

/* Instagram */
.button.button-instagram {
  color: #ffffff;
  background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
}
.button.button-instagram:hover,
.button.button-instagram:focus {
  filter: brightness(90%);
}

/* LinkedIn */
.button.button-linked {
  color: #ffffff;
  background-color: #2867b2;
}
.button.button-linked:hover,
.button.button-linked:focus {
  filter: brightness(90%);
}

/* Medium */
.button.button-medium {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}
.button.button-medium:hover,
.button.button-medium:focus {
  filter: brightness(90%);
}

/* Notion */
.button.button-notion {
  color: #000000;
  border: 1px solid #212121;
  background-color: #ffffff;
}
.button.button-notion:hover,
.button.button-notion:focus {
  filter: brightness(90%);
}

/* Pinterest */
.button.button-pinterest {
  color: #000000;
  background-color: #ffe2eb;
  border: 1px solid #212121;
}
.button.button-pinterest:hover,
.button.button-pinterest:focus {
  filter: brightness(90%);
}

/* Snapchat */
.button.button-snapchat {
  color: #000000;
  background-color: #fffc00;
}
.button.button-snapchat:hover,
.button.button-snapchat:focus {
  filter: brightness(90%);
}

/* Spotify */
.button.button-spotify {
  color: #191414;
  background-color: #1db954;
}
.button.button-spotify:hover,
.button.button-spotify:focus {
  filter: brightness(90%);
}

/* Twitter (archiving soon, see 'X') */
.button.button-twit {
  color: #ffffff;
  background-color: #1da1f2;
}
.button.button-twit:hover,
.button.button-twit:focus {
  filter: brightness(90%);
}

/* Upwork */
.button.button-upwork {
  color: #FFFFFF;
  background-color: #14A800;
}
.button.button-upwork:hover,
.button.button-upwork:focus {
  filter: brightness(90%);
}

/* Website */
.button.button-web {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}
.button.button-web:hover,
.button.button-web:focus {
  filter: brightness(90%);
}

/* WhatsApp */
.button.button-whatsapp {
  color: #ffffff;
  background-color: #455a64;
}
.button.button-whatsapp:hover,
.button.button-whatsapp:focus {
  filter: brightness(90%);
}

/* Wordpress */
.button.button-wordpress {
  color: #ffffff;
  background-color: #21759b;
}
.button.button-wordpress:hover,
.button.button-wordpress:focus {
  filter: brightness(90%);
}

/* X */
.button.button-x {
  color: #FFFFFF;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}
.button.button-x:hover,
.button.button-x:focus {
  filter: brightness(90%);
}

/* YouTube */
.button.button-yt {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #FFFFFF;
}
.button.button-yt:hover,
.button.button-yt:focus {
  filter: brightness(90%);
}

/* Zoom */
.button.button-zoom {
  color: #ffffff;
  background-color: #0B5CFF;
}
.button.button-zoom:hover,
.button.button-zoom:focus {
  filter: brightness(90%);
}

